@{
    ViewBag.Title = "About";
}
<h1>About</h1>
<h2>AddOnBlog.Mvc adds simple blogging functionality to an existing MVC application</h2>
<p>If you have ever wanted to add a blog to an existing mvc application you should consider using this NuGet package.</p>
<p>It is NOT a CMS, it is designed to be a lightweight, simple to use blogging tool.</p>

<h2>What gets added to my MVC application?</h2>
<p>Good question, the following gets added..</p>

<h3>Controllers</h3>
<ul>
    <li>/Controllers/BlogController.cs</li>
</ul>

<h3>Views</h3>
<ul>
    <li>/Views/Blog/Archive.cshtml</li>
    <li>/Views/Blog/Create.cshtml</li>
    <li>/Views/Blog/Edit.cshtml</li>
    <li>/Views/Blog/Index.cshtml</li>
    <li>/Views/Blog/Post.cshtml</li>
    <li>/Views/Blog/Posts.cshtml</li>
    <li>/Views/Shared/_BlogArchive.cshtml</li>
    <li>/Views/Shared/_BlogPost.cshtml</li>
    <li>/Views/Shared/_BlogPostRepeated.cshtml</li>
    <li>/Views/Shared/_BlogSidebar.cshtml</li>
    <li>/Views/Shared/_LayoutBlog.cshtml</li>
</ul>

<h3>web.config changes</h3>
<p></p>


