@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h1>AddOnBlog NuGet Package</h1>
    <p class="lead">AddOnBlog.Mvc is a NuGet package that adds VERY simple blogging functionality to your existing ASP.NET MVC application.</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To install AddOnBlog.Mvc, run the following command in the Package Manager Console. We recommend you read the <a href="/installation-guide">installation guide</a> first.
            <pre>PM> Install-Package AddOnBlog.Mvc</pre>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Source on GitHub</h2>
        <p>The code is <a href="https://github.com/leeenglestone/AddOnBlog.Mvc.NuGet">open source on GitHub</a>. we are currently looking for contributers and are working on a <a href="/home/roadmap">roadmap</a>.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example blog design</h2>
        <p>Installing the AddOnBlog NuGet package creates a basic blog design as well.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>