
@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="container body-content">

    <div class="blog-header">
        <h1 class="blog-title">Blog Title Here</h1>
        <p class="lead blog-description">Some sort of blog sub title here.</p>
    </div>

    <div class="row">

        <div class="col-sm-12 blog-main">
           <h2>Development Road Map</h2>
            <h3>v1.0</h3>
            <ul>
                <li>Something</li>
            </ul>

            <h3>v1.1</h3>
            <ul>
                <li>Backup</li>
                <li>HTML view</li>
                <li>Adding images</li>

            </ul>
        </div>

    </div>
</div>