@model AddOnBlog.MvcApplication.Models.PostViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>@Model.Post.Title</h2>

@using (Html.BeginForm())
{

    <div id="post">
        <div id="post-content">
            @Html.TextAreaFor(x => x.Post.Content, new { @class="form-control" })
        </div>
        <div>
            <p>@Model.Post.FriendlyUrl</p>
        </div>
        <hr />
        <div id="post-actions">
            <p><input type="submit" value="Save" class="btn btn-success" /></p>
        </div>
    </div>
    
    @Html.HiddenFor(x=>x.Post.Title)

}

