@model AddOnBlog.MvcApplication.Models.PostViewModel
@{
    ViewBag.Title = "Post";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Post.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    @Styles.Render("~/Content/css")


    <!-- Custom styles for this template -->
    <link href="~/Content/blog.css" rel="stylesheet">
</head>
<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="/">Home</a>
                <a class="blog-nav-item" href="#">New features</a>
                <a class="blog-nav-item" href="#">Press</a>
                <a class="blog-nav-item" href="#">New hires</a>
                <a class="blog-nav-item" href="#">About</a>
            </nav>
        </div>
    </div>


    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">@Model.Post.Title</h1>
            <p class="lead blog-description">Some sort of blog sub title here.</p>
        </div>

        <div class="row">
            @Html.Partial("_BlogPost", new AddOnBlog.MvcApplication.Models.PostViewModel(Model.Post))
        </div>
    </div>

</body>

</html>