@model AddOnBlog.MvcApplication.Models.PostViewModel
@{
    ViewBag.Title = "Post";
}

<h2>@Model.Post.Title</h2>
<div id="post">
    <div id="post-content">
        @Model.Post.Content
    </div>
    <hr/>
    <div id="post-actions">
        <p>@Html.ActionLink("Edit", "Edit", new { id = Model.Post.Id }, new { @class="btn btn-warning" }) 
        @Html.ActionLink("Delete", "Delete", new { id = Model.Post.Id }, new { @class="btn btn-danger" })</p>
    </div>
</div>

